.titulo {
    font-family: 'Calistoga';
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: var(--cinza);
    padding-top: 48px;
    margin-right: 20px;
    margin-left: 20px;
}

.conteudo { 
    background: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
}

.conteudoBoreal {
    background: linear-gradient(180deg, #393068 0%, #36C1A0 52.60%, #4650BD 100%);
    color: var(--branco);
}

.form {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-weight: 700;
    font-size: 28px;
    color: var(--cinza);
}

.inputField {
    width: 795px;
    height: 40px;
}

.botao {
    width: 164px;
    height: 56px;
    background-color: var(--azul-escuro);
    color: var(--branco);
    box-shadow: 4px 4px 0px #000000;
    border-radius: 16px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.botao:hover {
    cursor: pointer;
}

.erro {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FF6347;
}

.containerInputs {
    display: flex;
    width: fit-content;
    gap: 24px;
}

.inputFieldShared {
    width: 385.5px;
    height: 40px;
}

.branco {
    color: var(--branco);
}

@media (max-width: 1200px) {

    .form {
        margin-left: 30px;
        margin-right: 30px;
    }

    .inputField, .inputFieldShared {
        width: 640px;
        height: 40px;
    }

    .containerInputs {
        flex-direction: column;
    }
}

@media (max-width: 730px) {

    .form {
        margin-left: 30px;
        margin-right: 30px;
    }

    .inputField, .inputFieldShared {
        width: 312px;
        height: 40px;
    }

}