.rodape {
    background-color: var(--amarelo);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}

.rodapeBoreal {
    background-color: var(--roxo-boreal);
    color: var(--branco);
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 20px;
}

.social ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.disclaimer {
    font-weight: 500;
    font-size: 20px;
}

.disclaimer p {
    margin-bottom: 10px;
}

.logo {
    width: 233.9px;
}

@media (max-width: 1100px) {

    .rodape {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .primeiraParte {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .disclaimer p{
        text-align: center;
    }
}

@media (max-width: 500px) {

    .social {
        flex-direction: column;
    }
}