.conteudo {
    background: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
}

.containerMapa {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.fotoMapa {
    width: 690px;
    height: 609px;
}

.titulo {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 24px;
}

.tituloSetores {
    font-weight: 700;
    font-size: 40px;
    color: var(--preto);
    text-align: center;
    margin-top: 48px;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.divLegenda:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .containerMapa {
        flex-direction: column;
        padding-top: 32px;
        gap: 48px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .fotoMapa {
        width: 360px;
        height: 360px;
    }
}