.conteudo {
    background: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
}

.titulo {
    font-family: var(--font-titulo);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: var(--cinza);
    padding-top: 48px;
}

.accordion {
    width: 50%;
}