.legenda {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.cor {
    width: 32px;
    height: 32px;
}

.texto {
    font-weight: 500;
    font-size: 20px;
    color: var(--cinza);
}