
:root {
  --font-titulo: 'Calistoga', cursive;
  --font-textos: 'Raleway', sans-serif;
  --azul-escuro: #2E7BA2;
  --branco: #FFFFFF;
  --cinza: #444444;
  --amarelo: #FACF9D;
  --mostarda: #DF9010;
}

* {
  font-family: var(--font-textos);
  padding: 0;
  margin: 0;
}

@media (max-width: 300px) {
    * {
      width: 300px;
    }
}