
:root {
  --font-titulo: 'Calistoga', cursive;
  --font-textos: 'Raleway', sans-serif;
  --azul-escuro: #2E7BA2;
  --branco: #FFFFFF;
  --cinza: #444444;
  --amarelo: #FACF9D;
  --mostarda: #DF9010;
  --roxo-boreal: #4650BD;
  --verde-escuro: #008364;
}

* {
  font-family: var(--font-textos);
  padding: 0;
  margin: 0;
}

